@model IEnumerable<ArticleServiceModel>

<div class="row">
    @foreach (var article in Model)
    {
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@article.ImageUrl" alt="@article.Title">
                <div class="card-body">
                    <h5 class="card-title">@article.Title</h5>
                    <p class="card-text">Written by: @article.Author</p>
                    <p class="card-text">Added on: @article.CreatedOn.ToString("dd/MM/yyyy")</p>
                    <a asp-controller="Articles" asp-action="Read" asp-route-id="@article.Id" asp-route-information ="@article.Title"class="btn btn-primary">Read</a>
                    @if (ViewBag.AllowArticleEdit == true || User.IsAdmin())
                    {
                        <a asp-controller="Articles" asp-action="Edit" asp-route-id="@article.Id" asp-route-information ="@article.Title" class="btn btn-warning">Edit</a>
                        <a asp-controller="Articles" asp-action="Delete" asp-route-id="@article.Id" asp-route-information ="@article.Title" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>